<!DOCTYPE>
<html ng-app="myapp">
<head>
    <title>This is my first app</title>
    
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<body>
    <div class="container">
    <h1>This is a test app</h1>
    
    <table class="table" ng-controller="mycntrl2">
        <thead>
            <!--<tr>
                <th>Server Name</th>
                <th>PS_HOME Location</th>
                <th>DB Type</th>
                <th>DB Username</th>
                <th>DB Password</th>
                <th>Domain Name</th>
                <th>script location</th>
                <th>log location</th></tr>-->
        </thead>
        <tr>
     <td><input type="text" placeholder="ApplicationServer_ServerProcessStatus_time" ng-model="contact.ApplicationServer_ServerProcessStatus"/></td>
     <td><input type="text" placeholder="ApplicationServer_Status_time" ng-model="contact.ApplicationServer_Status"/></td>
       <td><input type="text" placeholder="ApplicationServer_TuxedoQueuedProcesses_time" ng-model="contact.ApplicationServer_TuxedoQueuedProcesses"/></td>
       <td><input type="text" placeholder="AppMessageError" ng-model="contact.AppMessageError"/></td>
     <td><input type="text" placeholder="AppMessageNew" ng-model="contact.AppMessageNew"/></td><tr>
      <td><input type="text" placeholder="Gateway_WLC" ng-model="contact.Gateway_WLC"/></td>
    <td><input type="text" placeholder="IBstatus" ng-model="contact.IBstatus"/></td>
     <td><input type="text" placeholder="MemoryCheck" ng-model="contact.MemoryCheck"/></td>
     <td><input type="text" placeholder="ProcessScheduler_Status_Linux" ng-model="contact.ProcessScheduler_Status_Linux"/></td></tr><tr>
     <td><input type="text" placeholder="ServerAvail" ng-model="contact.ServerAvail"/></td>
     <td><input type="text" placeholder="SpaceCheck" ng-model="contact.SpaceCheck"/></td>
     <td><input type="text" placeholder="Webserver_WLC" ng-model="contact.Webserver_WLC"/></td>
   <!--  <td><input type="text" placeholder="WLPORTNO" ng-model="contact.WLPORTNO"/></td>
     <td><input type="text" placeholder="WLCUSERNAME" ng-model="contact.WLCUSERNAME"/></td></tr><tr>
         <td><input type="text" placeholder="WLCPASSWORD" ng-model="contact.WLCPASSWORD"/></td></tr><tr>
     <td><input type="text" placeholder="IBDOMAIN" ng-model="contact.IBDOMAIN"/></td>
     <td><input type="text" placeholder="HOSTNAME" ng-model="contact.HOSTNAME"/></td>
     <td><input type="text" placeholder="MASTERSCHDL" ng-model="contact.MASTERSCHDL"/></td>
     
      <td><input type="text" placeholder="GWPORTNO" ng-model="contact.GWPORTNO"/></td>-->
<td><button class="btn btn-primary" ng-click="add_info()">Add Config</button></td>
        </tr>
      <!--  <tr ng-repeat="x in con">
     <td>{{x.servername}}</td>
     <td>{{x.PS_HOME}}</td>
     <td>{{x.DB_Type}}</td>
     <td>{{x.DB_Uname}}</td>
     <td>{{x.DB_Password}}</td>
     <td>{{x.DB_Sloc}}</td>
<td>{{x.DB_Lloc}}</td>

        </tr>-->
        </table>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="/controllers/controller.js"></script>
    </body>
    </html>